#site-header {
	height: 60px;
    background: #607D8B;
    display: flex;
}

.title {
	font-size: 2em;
    font-family: Arial,Microsoft JhengHei,Open Sans,sans-serif;
    line-height: 60px;
    color: white;
}

.leftbar-toggle {
	width: 35px;
    background: #FFEB3B;
    line-height: 60px;
    margin: 10px;
    border-radius: 0.6em;
}