<div id='admin-category-page'>
  <div id='admin-category-list'>
    <ul class="categories">
      <li *ngFor="let category of categories"
        (click)="onSelect(category)"
        [class.selected]="category === selectedCategory">
        <span class="badge">{{category.id}}</span>
        <span>{{category.name}}</span>
        <button class="delete"
            (click)="delete(category); $event.stopPropagation()">X</button>
      </li>
      <li class='add-category-item'>
        <span class="badge">{{categoriesNum+1}}</span>
        <input type='text' #newNameInput [formControl]="newCategoryName">
        <button class="add" type='button'
            (click)="add(newCategoryName.value); ">+</button>
      </li>
    </ul>
  </div>
  <div id='admin-category-detail'>
    <div id='category-detail-outer' *ngIf="selectedCategory">
      <form class='category-detail-form' [formGroup]="categoryForm" novalidate>
        <div class="input-block">
          <label class="center-block">
            <span>id:</span>
            <input class="form-control" formControlName="id" value={{selectedCategory.id}} >
          </label>
        </div>
        <div class="input-block">
          <label class="center-block">
            <span>Name:</span>
            <input class="form-control" formControlName="name" value={{selectedCategory.name}}>
          </label>
        </div>
        <div class='save-block' (click)="save()">
          <button>Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
